@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #00FF7F;
        font-weight: bold;
    }
</style>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
</head>


<div class="text-center">
    <h1 class="display-4">ASP - Active Server Pages</h1>
</div>

<h3>
    <a href="/Home/Intro" class="link-button btn-info">Вступ</a>
</h3>
<h3>
    <a href="/Home/Basics" class="link-button btn-info">Огляд MVC</a>
</h3>
<h3>
    <a href="/Home/Razor" class="link-button  btn-info">Огляд Razor</a>
</h3>
<h3>
    <a href="/Home/Services" class="link-button btn-info">Служби</a>
</h3>
<h3>
    <a href="/Home/Sessions" class="link-button btn-info">Сесії, Middleware, Автентифікація</a>
</h3>

